swagger: "2.0"
info:
  version: "1.0.0"
  title: "Socks Agent API (v1)"
  description:
    "Agent provides apis to control sock agent"
schemes:
  - "https"
paths:
  /login:
    post:
      description: "login in the socks system."
      produces:
        - "application/json"
      parameters:
        - in: body
          name: "user"
          schema:
            $ref: "#/definitions/user"
      responses:
        200:
          description: "success."
        500:
          description: "Error."
        400:
          description: "illegal request."
  /v1/connection/list:
    get:
      description: "Get the proxy connections."
      produces:
        - "application/json"
      responses:
        200:
          description: "Get all the connections."
          schema:
            $ref: "#/definitions/connections"
        500:
          description: "Error."
  /v1/auth/user/create:
    post:
      description: "create new user."
      produces:
        - "application/json"
      parameters:
        - in: body
          name: "user"
          schema:
            $ref: "#/definitions/user"
      responses:
        200:
          description: "success."
        400:
          description: "illegal request."
        401:
          description: "only admin user can create new user"
        500:
          description: "Error."

definitions:
  connections:
    type: "array"
    items:
      $ref: "#/definitions/connection"
  connection:
    type: "object"
    properties:
      uuid:
        type: "string"
      source:
        type: "string"
      target:
        type: "string"
  user:
    type: "object"
    properties:
      username:
        type: "string"
      password:
        type: "string"
      roles:
        type: "array"
        items:
          type: "string"